body {
    background: #a77d29;
    background: linear-gradient(165deg, #ffde24 0%,#ffde24 60%,#c4932d 60%,#b2852c 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.container {
    flex: 1;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.branding .logo {
    height: 96px;
    width: 96px;
}

.branding h1 {
    font-size: 30px;
    white-space: nowrap;
    position: relative;
    top: 8px;
    display: inline-block;
}

.branding h1 span {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 12px;
}

.description {
    font-size: 24px;
    margin: 20px 10px 20px 40px;
}

.libraries {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.libraries img {
    height: 48px;
    width: 48px;
    margin: 10px;
}

.libraries p {
    margin: 10px;
}

.actions {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.actions a, .actions button {
    margin: 10px;
    padding: 10px 25px;
}

.signup {
    overflow: hidden;
    height: 0;
    transition: height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup iframe {
    border: 0;
    width: 80%;
    margin: -20px;
}

.timeline {
    position: relative;
    margin: 5% 0;
    height: 500px;
}

.timeline .twitter-timeline-placeholder {
    fill: #efd121;
    margin: 20%;
    position: absolute;
    width: 60%;
}

.timeline iframe.twitter-timeline {
    position: fixed;
    height: 500px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.55) 0 20px 68px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 2s;
}

.changelog h2 {
    padding: 40px 0 20px 0;
    text-align: center;
}

.changelog-form {
    position: relative;
    padding: 40px;
    background-color: #473D47;
    box-shadow: rgba(0, 0, 0, 0.55) 0 20px 68px;
    border-radius: 5px  !important;
    margin: 0 0 80px 0;
}

.changelog-form label {
    color: #c4932d;
}

.changelog-form button {
    margin: 32px 0 0 0;
    width: 100%;
}

.changelog-form button svg {
    fill: #ffc107;
    height: 17px;
    position: relative;
    top: 3px;
}

#changelog-download,
#changelog-image,
.changelog-form #changelog-spinner,
.changelog-form #changelog-feedback {
    display: none;
}

.changelog-form .alert {
    margin: 30px 0 0 0;
}

#changelog-image {
    width: 100%;
}

#changelog-download {
    position: absolute;
    left: 50%;
    bottom: -77px;
    margin-left: -110px;
    box-shadow: rgba(0, 0, 0, 0.40) 0 0 40px;
}

.footer {
    padding: 20px 0;
    background: #a77d29;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer .year {
    padding: 0 5px;
}

@media (max-width: 767px) {
    .branding {
        text-align: center;
    }

    .description {
        text-align: center;
        margin: 20px 0;
    }
}

@media (max-width: 575px) {
    .changelog-form {
        margin: 0 0 90px 0;
    }
    #changelog-download {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
}

/* Bootstrap override */
.form-control {
    border-color: #333;
}
.form-control:focus {
    border-color: #ffde24;
    box-shadow: 0 0 0 0.2rem rgba(255, 222, 36, 0.25);
}

.spin {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
